{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ news.title }}</title>
    {% bootstrap_css %}
</head>
<body>

<div class="container mt-5">
    <h1>{{ news.title }}</h1>
    <p><strong>Автор:</strong> {{ news.author }}</p>
    <p><strong>Дата публикации:</strong> {{ news.date }}</p>
    <p>{{ news.content }}</p>
    <a href="{% url 'history' %}">Вернуться к истории</a>
</div>

{% bootstrap_javascript %}

</body>
</html>
